:root {
  --accentBackColor: #d32f2f !important;
  --accentForeColor: #d32f2f !important;
}

/*#region Positioning*/

.centerHoriVerti {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.centerText {
  text-align: center !important;
}

/*#endregion*/

/*#region Coloring*/

.accentBackcolor {
  background-color: var(--accentBackColor);
}

.accentForecolor {
  color: var(--accentForeColor);
}

/*#endregion*/

/*#region Menues*/

.menu {
  position: absolute;
  display: none;
  z-index: 1;
}

/*#endregion*/

/*#region Backgrounds*/

.fullscreenBackground {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* background-color: #464646; */
}

/*#endregion*/