.centerHoriVerti {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.centerText {
  text-align: center !important;
}

.accentBackcolor {
  background-color: #d32f2f !important;
}

.accentForecolor {
  color: #d32f2f !important;
}

.menu {
  position: absolute;
  display: none;
  z-index: 1;
}